<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Devil @ 
  <a href="http://wallarthd.com/wp-content/uploads/2014/08/Dark-Devil-Wallpaper-Background-2109.jpg">contact page</a>.
</p>