<% provide(:title, 'API') %>

	<div class="row">
		<br>
		<ul class="list-group">
		  <li class="list-group-item">/api/users => renders all users</li>
		  <li class="list-group-item">/api/users/:id => renders specific user</li>
		  <li class="list-group-item">/api/users/:id/posts => renders user's posts</li>
		  <li class="list-group-item">/api/users/:id/followers => renders user's followers</li>
		  <li class="list-group-item">/api/users/:id/following => renders following users</li>
		</ul>
	</div>
